<%= content_for :banner_options do %>
  <h1 class="text-center">Your cocktail list</h1>
  <%= link_to "Create a cocktail", new_cocktail_path, class: "btn btn-primary" %>
<% end %>

<%= render "shared/banner" %>

<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">

  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">

        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path cocktail.photo.path, height: 300, width: 400, crop: :fill %>')">

          <div class="card-description">
            <div class="card-body">
              <%= link_to cocktail.name, cocktail_path(cocktail) %>
            </div>
          </div>

        </div>
      </div>
    <% end %>
  </div>
</div>

